@charset "utf-8" ;

*{margin: 0; padding: 0;}

ul,ol,li{list-style: none;}
address{font-style: normal;}

.text-center{
    height: 100px;
    line-height: 100px;
    text-align: center;
}

.sr-only{
    position: absolute;
    left: -9999px;
}